*.cache
README.html

plugins/Mailgun/vendor/clue/stream-filter/*
!plugins/Mailgun/vendor/clue/stream-filter/LICENSE
!plugins/Mailgun/vendor/clue/stream-filter/src/

plugins/Mailgun/vendor/guzzlehttp/psr7/*
!plugins/Mailgun/vendor/guzzlehttp/psr7/LICENSE
!plugins/Mailgun/vendor/guzzlehttp/psr7/src/

plugins/Mailgun/vendor/mailgun/mailgun-php/*
!plugins/Mailgun/vendor/mailgun/mailgun-php/LICENSE
!plugins/Mailgun/vendor/mailgun/mailgun-php/src/

plugins/Mailgun/vendor/php-http/client-common/*
!plugins/Mailgun/vendor/php-http/client-common/LICENSE
!plugins/Mailgun/vendor/php-http/client-common/src/

plugins/Mailgun/vendor/php-http/curl-client/*
!plugins/Mailgun/vendor/php-http/curl-client/LICENSE
!plugins/Mailgun/vendor/php-http/curl-client/src/

plugins/Mailgun/vendor/php-http/discovery/*
!plugins/Mailgun/vendor/php-http/discovery/LICENSE
!plugins/Mailgun/vendor/php-http/discovery/src/

plugins/Mailgun/vendor/php-http/httplug/*
!plugins/Mailgun/vendor/php-http/httplug/LICENSE
!plugins/Mailgun/vendor/php-http/httplug/src/

plugins/Mailgun/vendor/php-http/message/*
!plugins/Mailgun/vendor/php-http/message/LICENSE
!plugins/Mailgun/vendor/php-http/message/src/

plugins/Mailgun/vendor/php-http/message-factory/*
!plugins/Mailgun/vendor/php-http/message-factory/LICENSE
!plugins/Mailgun/vendor/php-http/message-factory/src/

plugins/Mailgun/vendor/php-http/multipart-stream-builder/*
!plugins/Mailgun/vendor/php-http/multipart-stream-builder/LICENSE
!plugins/Mailgun/vendor/php-http/multipart-stream-builder/src/

plugins/Mailgun/vendor/php-http/promise/*
!plugins/Mailgun/vendor/php-http/promise/LICENSE
!plugins/Mailgun/vendor/php-http/promise/src/

plugins/Mailgun/vendor/psr/http-client/*
!plugins/Mailgun/vendor/psr/http-client/LICENSE
!plugins/Mailgun/vendor/psr/http-client/src/

plugins/Mailgun/vendor/psr/http-factory/*
!plugins/Mailgun/vendor/psr/http-factory/LICENSE
!plugins/Mailgun/vendor/psr/http-factory/src/

plugins/Mailgun/vendor/psr/http-message/*
!plugins/Mailgun/vendor/psr/http-message/LICENSE
!plugins/Mailgun/vendor/psr/http-message/src/

plugins/Mailgun/vendor/ralouphie/getallheaders/*
!plugins/Mailgun/vendor/ralouphie/getallheaders/LICENSE
!plugins/Mailgun/vendor/ralouphie/getallheaders/src/

plugins/Mailgun/vendor/symfony/options-resolver/*
!plugins/Mailgun/vendor/symfony/options-resolver/LICENSE
!plugins/Mailgun/vendor/symfony/options-resolver/Options.php
!plugins/Mailgun/vendor/symfony/options-resolver/OptionsResolver.php
!plugins/Mailgun/vendor/symfony/options-resolver/Exception/

plugins/Mailgun/vendor/symfony/polyfill-ctype/*
!plugins/Mailgun/vendor/symfony/polyfill-ctype/bootstrap.php
!plugins/Mailgun/vendor/symfony/polyfill-ctype/Ctype.php
!plugins/Mailgun/vendor/symfony/polyfill-ctype/LICENSE

plugins/Mailgun/vendor/webmozart/assert/*
!plugins/Mailgun/vendor/webmozart/assert/LICENSE
!plugins/Mailgun/vendor/webmozart/assert/src/
